@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

html.DarkMode {
  background-color: rgb(54, 54, 54);
}
html.LightMode {
  background-color: rgb(204, 204, 204);
}
li.li-pages {
  display: inline;
}

button.pages-button {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  width: 90px;
  height: 70px;
  border-top-color: rgb(53, 124, 255);
  border-left-color: rgb(30, 109, 255);
  border-bottom-color: rgb(143, 102, 255);
  border-right-color: rgb(255, 49, 255);
  border-radius: 100px 140px 80px;
  background-image: url("./imgs/rainbow-sky.jpg");
}
button.pages-button:not(:last-child) {
  margin-right: 25px;
}
